body{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0;
    overflow:hidden;
}
.container{
    width:25%;
    height:80%;
    box-shadow:5px 10px 15px rgba(0,0,0,0.3);
    border-radius:5px;
}
.container h2{
    text-align:center;
}
.container .form-group{
    width:80%;
    padding:5% 10%;
    position:relative;
}
.form-group.success input{
    border:1px solid green;
}
.form-group.error input{
    border:1px solid red;
}
.form-group label{
    display:block;
    margin-bottom:10px;
}
.form-group input{
    width:100%;
    padding:6px 0 6px 10px;
}
.form-group input:focus{
    outline:0;
}
.form-group span{
    position:absolute;
    bottom:-5%;
    left:10%;

    opacity:0;
}
.form-group.error span{
    opacity:1;
}
.submitbtn{
    width:80%;
    font-size:16px;
    background-color:darkorchid;
    color:white;
    padding:10px 0;
    margin:10px 10%;
    border:none;
    border-radius:10px;
    cursor:pointer;
    box-shadow:5px 5px 10px rgba(0,0,0,0.2);

    transition:all 0.2s;
}
.submitbtn:hover{
    transform:translateY(-2px);
}

@media(max-width:1000px){
    .container{
        width:80%;
        height:90%;
    }
    .container .form-group{
        padding:20px 10%;
    }
    
}