@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}
body{
    height:100vh;

    display:flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.container{
    width:30%;
    height:75%;
    box-shadow:5px 10px 10px rgba(0, 0, 0,0.5);
    border-radius:20px;
    padding:20px;
}
.container h2{
    text-align:center;
}
.form-group{
    margin-bottom:35px;
    position: relative;
}
.form-control{
    width:100%;
    font-size:15px;
    padding:5px 10px;
    border-radius:3px;
    border:1px solid #999;
}
.form-group.success .form-control{
    border: 1px solid green;
}
.form-group.error .form-control{
    border: 1px solid red;
}
.form-control:active{
    outline: 0;
}
.form-control:focus{
    outline: 0;
}
.form-group label{
    display:block;
    padding-bottom:3px;
}
.form-group span{        
    position:absolute;
    bottom:-20px;
    left:0;

    visibility: hidden;
}
.form-group.error span{
    visibility:visible;
}
.form-group.success span{
    color:green;
}
.form-group.error span{
    color: red;
}





